@model SpaDay.Models.User

<h1>Welcome to our spa, @Model.Username!</h1>

<p>
    <a asp-controller="User" asp-action="Add">Add User</a>
</p>

<p>
    <a asp-controller="Spa" asp-action="Index">Select Spa Services</a>
</p>


    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
        </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Username</td>
                <td>@Model.Email</td>
            </tr>
    </table>
